body,
input,
textarea,
select,
option {
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 1640px;
  margin: 0 auto;
}
.paragraph_wrapper {
  max-width: 940px;
  margin-left: 350px;
}
.paragraph_wrapper h1,
h2,
h3,
p {
  color: #303030;
}
.paragraph_wrapper h1 {
  font-size: 40px;
  margin-top: 95px;
}
.paragraph_wrapper h2 {
  font-size: 40px;
  margin-top: 23px;
}
.paragraph_wrapper h3 {
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 25px;
}
.paragraph_wrapper p {
  font-size: 15px;
  padding-bottom: 45px;
  line-height: 30px;
}
.progress {
  width: 113px;
  height: 4px;
  background: #2b6997;
  margin-top: 18px;
  margin-bottom: 38px;
}
.last__paragraph {
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 93px;
}
