body,
input,
textarea,
select,
option {
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 1640px;
  margin: 0 auto;
}
.boxes_profilewrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 250px;
}
.box__profile-content {
  position: relative;
  padding-right: 40px;
  margin-bottom: 100px;
}
.box__profile-content img {
  width: 355px;
  height: 355px;
  object-fit: cover;
}
.profile--paragraph {
  position: absolute;
  bottom: 2px;
  width: 355px;
  height: 149px;
  background-image: url(./../images/rect.svg);
}
.profile--paragraph h4 {
  color: #303030;
  font-size: 22px;
  margin-top: 54px;
  transition: 0.4s;
  margin-left: 22px;
}
.profile--paragraph p {
  color: #303030;
  font-size: 14px;
  padding-top: 15px;
  margin-left: 22px;
  transition: 0.4s;
}
.profile--paragraph p:hover {
  color: #303030;
  font-size: 18px;
}
.profile--paragraph h4:hover {
  color: #303030;
  font-size: 28px;
}
